<section id="about">
        <div class="container">
            <div>
                {{ page.content }}
            </div>
            <div>
                <h1>Upcoming Events</h1>
                <hr>
                {% for event in page.header.events %}
                <a href="{{ event.url }}" target="_blank" class="newsItem">
                    <h3>{{ event.name }}</h3>
                    <p>{{ event.date }}</p>
                </a>
                <hr>
                {% endfor %}
            </div>
        </div>
    </section>