<header style="background: url({{ page.media[header.bgImg].url }}) no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; back">
        <div>
            <img class="img-responsive" src="{{ page.media[header.headshot].cropResize(300,300).url }}">
                {% if page.content %}
                {{ page.content }}
                {% endif %}
            <a href="{{ page.header.url }}" class="btn" target="_blank">Register Now</a>
        </div>
</header>