<article>
        <div>
            <img src="{{ child.media[child.header.featured].cropZoom(300,300).url() }}">
            <h3>{{ child.title }}</h3>
            <p>{{ child.content }}</p>
        </div>
</article>